#section1{
          width: 1300px;
          height:350px;
          margine:5px 5px 5px 5px;
          border: 1px solid black;
          padding: 10px 10px 10px 10px;
          background-color: pink;
          }
#section11{
           width:250px;
           height:250px;
           margine:5px 5px 5px 5px;
           border: 1.5px dotted black;
           padding: 5px 5px 5px 5px;
           background-color: green;
           }
#section2{
          width:1300px;
          height:500px;
          margine:5px 5px 5px 5px;
          border:1px solid red;
          padding:10px 10px 10px 10px;
          background-color:cyan;
          }
#section3{
           width:573px;
          height:327px;
          margine:5px 5px 5px 5px;
          border:1px solid red;
          background-color:blue;
          color:white;
          background-image:url('nature.jpg');
          }
           